@if (pedido){
    <div class="card bg-light">
        <div class="card-header">{{ titulo }}: {{ pedido.descripcion }}</div>
        <div class="card-body">
          <h4 class="card-title">
            <a [routerLink]="['/pedidos']" class="btn btn-light btn-xs">&laquo; volver</a>
          </h4>
      
          @if (cliente) {
            <ul class="list-group my-2">
              <li class="list-group-item list-group-item-primary">Datos del cliente</li>
              <li class="list-group-item">Nombre: {{ cliente.nombres }}</li>
              <li class="list-group-item">Direccion: {{ cliente.direccion }}</li>
              <li class="list-group-item">NIT: {{ cliente.nit }}</li>
            </ul>
          }
      
          <ul class="list-group my-2">
            <li class="list-group-item list-group-item-primary">Datos del pedido:</li>
            <li class="list-group-item">ID: {{ pedido.id }}</li>
            <li class="list-group-item">Fecha de creacion: {{ pedido.fecha | date:"EEEE dd, MMMM yyyy"}}</li>
          </ul>
      
          <table class="table table-striped table-hover table-bordered my-3">
            <thead>
              <th>Articulo</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Cantidad Disp</th>
              <th>Hay existencias</th>
              <th>Total</th>
            </thead>
            <tbody>
                @for (item of pedido.detalles; track $index) {
                    <tr>
                        <td>{{item.articulo}}</td>
                        <td>{{ MONEDA_LABEL }} {{item.precio}}</td>
                        <td>{{item.cantidad}}</td>
                        <td>{{ item.cantidadDisponible }}</td>
                        @if (item.cantidad > item.cantidadDisponible) {
                            <td class="text-danger">NO</td>
                        } @else {
                            <td class="text-success">SI</td>
                        }
                        <!-- <td>{{ MONEDA_LABEL }} {{item.calcularTotalVenta()}}</td> -->
                         <td>{{ MONEDA_LABEL }} {{ item.precio * item.cantidad }}</td>
                    </tr>
                }
            </tbody>
          </table>
          <h5 class="float-right">
            <span>Gran total </span>: <span class="badge badge-secondary">{{pedido.total}}</span>
          </h5>
      
          <div class="card border-info mb-4">
            <div class="card card-header">
              Observaciones
            </div>
            <div class="card card-body">
             @if (!pedido.observaciones) {
                <p>No tiene observaciones</p>
             } @else {
                <p>{{pedido.observaciones}}</p>
             }
            </div>
          </div>
          <a [routerLink]="['/factura/form/']" class="btn btn-primary">Facturar</a>
        </div>
      </div>
}

  