<h3>{{title}}</h3>

<button class="btn btn-primary my-4" [routerLink]="['/users/create']">Crear usuario</button>

@if (users.length === 0) 
{
    <div class="alert alert-warning">No hay registros en el sistema!</div>
} @else 
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Username</th>
                <th>Eliminar</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            @for (user of users; track $index) {
                <tr>
                    <td> {{ user.id }} </td>
                    <td> {{ user.nombre }} </td>
                    <td> {{ user.apellido }} </td>
                    <td> {{ user.email }} </td>
                    <td> {{ user.username }} </td>
                    <td>
                        <button 
                        class="btn btn-danger btn-sm"
                        (click)="onRemoveUser(user.id)">Eliminar</button>
                    </td>
                    <td>
                        <button 
                        class="btn btn-warning btn-sm"
                        [routerLink]="['/users/update/', user.id]">Editar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<paginator [paginator]="paginator" [url]="pageUrl"></paginator>