<div class="card">
    <div class="card-header">Facturas</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de facturas </h5>
  
      <mat-form-field class="mx-3">
        <input type="text" placeholder="Buscar factura" aria-label="Facturas" matInput (input)="onTextInput($event)">
      </mat-form-field>
  
      @if (facturas.length<=0) {
        <div class="alert alert-info">
          No se encuentran registros en la base de datos!
        </div>
  
      } @else {
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Cliente</th>
              <th>Factura</th>
              <th>Fecha creación</th>
              <th>Detalle</th>
              <th>Anular</th>
            </tr>
          </thead>
          <tbody>
            @for (factura of facturas; track $index) {
                <tr>
                    <td> {{ factura.id }} </td>
                    <td> {{ factura.nombre_emisor }} </td>
                    <td> {{ factura.no_factura }} </td>
                    <td> {{ factura.fecha_creacion | date:"EEEE dd, MMMM yyyy"}} </td>
                    <td>
                    <button type="button" name="button" [routerLink]="['/facturas/', factura.id]" class="btn btn-primary">Ver detalle</button>
                    </td>
                    <td>
                    <button type="button" name="button" (click)="delete(factura)" class="btn btn-danger">Anular</button>
                    </td>
                </tr>
            }
          </tbody>
        </table>

        <paginator [paginator]="paginator" [url]="pageUrl"></paginator>
      }
    </div>
  </div>
  